{% extends 'base.html' %}

{% block title %}
Создание поста!
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Добавление поста:</h1>
    </div>
    <div class="p-1 p-md-2 mb-1 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <form method="post">
                <input type="text" name="title"  id="title"  class="container form-control" placeholder="Введите название поста:"><br>
                <textarea name="intro"  id="intro"  class="container form-control" placeholder="Введите анонс:"></textarea><br>
                <textarea name="text"  id="text" class="container form-control" placeholder="Введите основной текст:"></textarea><br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" class="container btn btn-success" value="Добавить">
                </div>
            </form>
        </div>
    </div>
{% endblock %}